@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --back-dark: #151515;
    --back-photo: #242424;
    --leter-white: #FFFFFF;
    --sub-cian:#00FFFF;
    --font: "Space Grotesk", sans-serif;

}

body{
    background: var(--back-dark);
    margin: 0;
}

.home {
    display: flex;
    flex-direction: row;
    color: var(--leter-white);
    font-family: var(--font);
    justify-content: space-between;
    position: relative;
    height: 1000px;
    
}

.right-home {
    background: var(--back-photo);
    margin: 0 160px 0 0;
    position: absolute;
    right: 0.2%;
}

#profile{
    width: 100%;
    height:  700px;
    margin: 100px 0 0 0;
}

.icon {
    display: flex;
    justify-content: flex-end;
    margin: 40px 30px 0 0;
    gap: 20px;
    font-size: 40px;
}

.icon a{
    color: var(--leter-white);
}

/* LEFT HOME */

.left-home{
    position: absolute;
    overflow: hidden;
    left: 7%;
}

#title {
    margin: 40px 0 0 5px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

#description {
    font-size: 850%;
    margin-bottom: 5%;
}

.info u{
    text-decoration-color: var(--sub-cian);
}

#subdesc {
    font-size: 150%;
    margin: 0 0 0.5% 0;
}

#callme {
    display: flex;
    justify-content: center;
    width: 9%;
    font-family:var(--sub-cian); 
    align-items: center;
    font-weight:400;
    margin: 5% 0 0.5% 0;; 
    font-size: 16px;
    border-bottom: 2px solid aqua; 
    padding-bottom: 8px;
    cursor: pointer;
    border-radius: 2px;
}

#callme:hover {
    background: rgba(255, 255, 255, 0.2);
}

.stuffs {
    font-family: var(--font);
}

.stuffs hr {
    width: 90%;
}

.col-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 300px;
    margin: 0 100px 40px 200px;
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 300px;
    margin: 0 100px 40px 200px;
}

.skill h1 {
    font-size: 400%; 
    margin-bottom: 8px;
    color: #FFFFFF;
}

.skill p {
    color: #919191; /* Cor cinza para a experiência */
    font-size: 1.1rem;
}

.project-head{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: var(--font);
    align-items: center;
    justify-content: center;
    gap: 50%;
}

.project-head h1{
    font-size: 600%;
    color: var(--leter-white);
    margin: 0;
}

#callme-2{
    display: flex;
    font-family:var(--sub-cian); 
    align-items: center;
    height: 100%;
    margin: 0;
    font-size: 16px;
    border-bottom: 2px solid aqua; 
    color: var(--leter-white);
    padding-bottom: 8px;
    cursor: pointer;
    border-radius: 2px;
}

#callme-2:hover {
    background: rgba(255, 255, 255, 0.2);
}

.real-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--leter-white);
    margin: 100px 0 0 0;
}

.lin-01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    width: 70%;
    height: 70%;
}

.lin-02 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    width: 70%;
    height: 70%;
}

.projects h2 {
    font-size: 200%;
    margin: 0;
}

.projects img {
    width: 100%;
    height: 70%;
}

.projects a {
    color: var(--leter-white);
    text-decoration: none;
}

.skill-info {
    display: flex;
    flex-direction: row;
}

.skill-info {
  display: flex;        
  flex-direction: row;  
  gap: 20px;            
  align-items: center;  
}

/* FOOTER */

footer {
    background:var(--back-photo);
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    color: var(--leter-white)
}

footer hr {
    width: 79%;
}

.infos-footer {
    margin: 0 170px 0 200px;
}

.infos-footer h1{
    font-size: 700%;
    margin: 0;
}

.infos-footer p{
    font-size: 140%;
}

.top-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    margin-bottom: 50px;
}

.send-email {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 100px 0 0 200px;
}


#name {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    outline: none;
    font-family: var(--font);
    font-size: 130%;
    color: var(--leter-white);
    border-bottom: 1px solid var(--sub-cian);
    margin: 10px;
    padding: 100px 10px 20px 20px;
    resize: none;
    overflow: hidden;
    text-transform: uppercase;
}

#email {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    outline: none;
    font-family: var(--font);
    font-size: 130%;
    color: var(--leter-white);
    border-bottom: 1px solid var(--sub-cian);
    margin: 10px;
    padding: 10px 10px 20px 20px;
    resize: none;
    overflow: hidden;
    text-transform: uppercase;
}

#mensage {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    outline: none;
    font-family: var(--font);
    font-size: 130%;
    color: var(--leter-white);
    border-bottom: 1px solid var(--sub-cian);
    margin: 10px;
    padding: 10px 10px 140px 20px;
    resize: none;
    overflow: hidden;
    text-transform: uppercase;
}

#callme-3 {
    width: 23%;
    display: flex;
    font-family:var(--sub-cian); 
    align-items: center;
    height: 100%;
    margin: 40px 10px 10px 73%;
    font-size: 130%;
    border-bottom: 2px solid aqua; 
    color: var(--leter-white);
    padding-bottom: 8px;
    cursor: pointer;
    border-radius: 2px;
}

#callme-3:hover {
    background: rgba(255, 255, 255, 0.2);
}

.final {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 79%;
}

.final h1 {
    font-size: 200%;
    margin: 21.4px 0 20px 20px;
}

.icon-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 21.4px 20px 20px 0;
    gap: 20px;
    font-size: 40px;
}

.icon-2 a{
    color: var(--leter-white);
}
